# data preprocessing
pandas
datasets
python-dotenv

# fine-tuning
torch==2.6.0+cu124
transformers==4.51.3
peft==0.15.2
bitsandbytes==0.49.2
sentencepiece
tensorboard
accelerate==1.6.0
trl==0.16.1
pyarrow==17.0.0
datasets==3.5.0

# model hub
huggingface_hub

# serving
fastapi
uvicorn[standard]
pydantic

# jupyter
ipykernel
notebook

pillow
pdf2image